*{
    margin: 0;
    padding: 0;
}
#main_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
}


.div_main{
    height: 100%;
    width: 16.6% ;
    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: chartreuse;

}
.img_sub{
    height: 120px;
    width:120px ;
}